#
# Python development requirements, allows us to locally install with just
#   `pip install -r dev-requirements.txt`
#

-e .

green>=3.3.0
mypy>=0.910
mypy-extensions>=0.4.3
pyfakefs>=4.5.0
pylint>=2.9.6
types-psutil
